* {
  font-family: 'Comfortaa', sans-serif;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'DM Serif Display', serif;
  margin: 10px 0;
}

h1 {
  font-size: 5.61rem;
  color: indigo;
}

h2 {
  font-size: 4.209rem;
}

h3 {
  font-size: 3.157rem;
}

h4 {
  font-size: 2.369rem;
}

h5 {
  font-size: 1.777rem;
}

h6 {
  font-size: 1.333rem;
}

header {
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

footer {
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: gold;
}

form {
  flex-direction: column;
}

#hero {
  justify-content: space-around;
  background-color: honeydew;
  height: 80vh;
}

#news {
  flex-direction: column;
  align-items: center;
  height: 70%vh;
  background-color: orchid;
}

#news div {
  justify-content: space-around;
}

#features {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80dvh;
  background-color: lightgreen;
}
#features div {
  justify-content: space-around;
}

#contact {
  justify-content: space-around;
  height: 80vh;
  padding: 48px;
}

.cards {
  margin: 24px;
  background-color: azure;
}

.features {
  margin: 24px;
  text-align: center;
}

.features img {
  border-radius: 50%;
}

.container {
  display: flex;
}

/* Forms - Start */
input {
  padding: 16px 24px;
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid grey;

  box-sizing: border-box;
  width: 300px;
}

input:focus {
  background-color: lightcyan;
  outline: 0;
}

textarea {
  box-sizing: border-box;
  width: 300px;
  height: 200px;
  resize: none;

  padding: 16px 24px;
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid grey;
}

textarea:focus {
  background-color: lightcyan;
  outline: 0;
}

input[type='submit'] {
  border: none;
  background-color: orangered;
  color: white;
  cursor: pointer;
}
/* Forms - End  */

/* Links - Start */
a:link,
a:visited {
  text-decoration: none;
  color: seagreen;
  padding: 10px;
}
a:hover {
  color: darkred;
}
a:active {
  color: sandybrown;
}

/* Links - End */

/* CTA Button - Start */
a.cta-button:link,
a.cta-button:visited {
  background-color: orangered;
  border-radius: 8px;
  color: whitesmoke;
  padding: 16px 24px;
}
a.cta-button:hover {
  background-color: tomato;
}
a.cta-button:active {
  background-color: darkred;
}

/* CTA Button - End */

/* Tablet */
@media only screen and (min-width: 680px) and (max-width: 767px) {
  h1 {
    color: violet;
    font-size: 3em;
  }
  #hero {
    background-color: darkorange;
  }
}

/* Mobile */
@media only screen and (max-width: 679px) {
  h1 {
    color: darkblue;
    font-size: 1.5em;
  }
  #hero {
    background-color: lightskyblue;
  }
}
